<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "my.css">
    <title>MyTable</title>
</head>
<body>
    <table width = "400" border="5"  cellpadding="10" cellspacing="20">

       <tr>
        <th>User</th>
        <th>Surname</th>
        <th>DOB</th>
        <th>City</th>

        </tr>
        <tr>
            <td>Aaaaa</td>
            <td>Bbbbb</td>
            <td>20.05.60</td>
            <td>Moscow</td>
        </tr>
        <tr>
            <td>Cccc</td>
            <td>Ddddd</td>
            <td>30.08.90</td>
            <td>StPeterburg</td>
        </tr>
        <tr>
            <td>Eeeee</td>
            <td>Fffff</td>
            <td>14.07.40</td>
            <td>Moscow</td>
        </tr>
            <td>Hhhhh</td>
            <td>Iiiiii</td>
            <td>30.03.20</td>
            <td>Smolensk</td>
    </table>



</body>
</html>